body{position:relative}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.4);z-index:998;transition:all ease 20ms}
.sideMenu,.sidebarNavigation{z-index:999;margin-bottom:0}
.overlay.open{left:0;right:0}
.sidebarNavigation .left-navbar-toggle{float:left;margin-right:0;margin-left:15px}
.sideMenu{left:-100%;top:52px;transition:all ease-in-out .4s;overflow:hidden;width:100%;max-width:50%}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0}
/* CSS Document */

.bg-black{ background-color: rgba(14,14,14,1.00)}

.carousel-caption{ top:200px}

.bg-orange{background-color:#f0644f; color: aliceblue; font-weight: 600; text-align: center;}
.m-right{border: 2px solid #f0644f; border-right: 2px solid white;}

.underline{width: 100px; height: 2px; background-color: orangered;}

.card{border: none;}
.bg-light-gray{background-color: rgba(111,111,111,0.09)}

.media img{ max-width: 120px; height: auto;}

.underline-green{width: 70px; height: 2px; background-color: lawngreen;}
.underline-blue{width: 70px; height: 2px; background-color: mediumblue;}
.underline-black{width: 70px; height: 2px; background-color: black;}

.card-body{text-align: center;}

.blog .media img{ max-width: 200px; height: auto;}

footer ul{text-decoration: none; list-style-type: none;}
